﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>BookService</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Books</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: books">
                    <li>
                        <a href="#" data-bind="click: $parent.deleteBook">
                            <img src="~/images/delete.png" alt="Details" width="20px" />
                        </a>
                        <strong><span data-bind="text: AuthorName"></span></strong>:
                        <a href="#" data-bind="click: $parent.getBookDetail"><span data-bind="text: Title"></span></a>
                    </li>
                </ul>
                <a href="#" data-bind="click: getBookDetailNew">
                    <img src="~/images/add.png" alt="Add book" width="40px" />
                </a>
            </div>

        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>


    <!-- ko if:bookDetail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" data-bind="text: actionDescription"></h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: saveBook">
                    <div data-bind="with: bookDetail">
                        <div class="form-group">
                            <label for=" inputauthor" class="col-sm-2 control-label">
                                Author
                            </label>
                            <div class="col-sm-10">
                                <select id="selAuthor" data-bind="options:$root.authors, optionsText: 'Name', optionsValue: 'Id', value: $data.AuthorId"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTitle" data-bind="value: Title" />
                            </div>

                            <label for="inputYear" class="col-sm-2 control-label">Year</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputYear" data-bind="value:Year" />
                            </div>

                            <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputGenre" data-bind="value:Genre" />
                            </div>

                            <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" id="inputPrice" data-bind="value:Price" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" data-bind="text: actionDescription"></button>
                </form>
            </div>
        </div>
    </div>

    <!-- /ko -->
</div>