﻿@section scripts {
    @Scripts.Render("~/bundles/vue")
}



<h2>IndexVue</h2>

<div id="app">
    {{ message }}
</div>

<div id="bookList">
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Year</th>
        </tr>
        <tr v-repeat="Book in Books">
            <td>{{Book.Title}}</td>
            <td>{{Book.Id}}</td>
        </tr>
    </table>
</div>